.cozysets {
  padding: 40px 80px;
  font-family: sans-serif;
  margin-left: 8%;
  margin-right: 8%;
  text-align: left;
  }
  
  .cozysets h2 {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .cozysets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
  
  .cozysets-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cozysets-grey {
    width: 100%;
    height: 230px;
    background-color: #c4c4c4;
    border-radius: 15px;
  }
  
  .cozysets-item p {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  @media (max-width: 992px) {
    .cozysets {
      padding: 0 40px;
    }
  
    .cozysets-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 1000px) {
    .cozysets-grid {
      grid-template-columns: 1fr;
    }
  
    .cozysets-grey {
      height: 180px;
    }
  }